<nav hlmNavigationMenu class="navbar-container">
  <div class="nav-section-left">
    <a routerLink="/" class="logo-text">Quest100</a>
  </div>

  <ul hlmNavigationMenuList class="nav-links-center">
    <li hlmNavigationMenuItem>
      <a hlmNavigationMenuLink routerLink="/dashboard" class="nav-link">Dashboard</a>
    </li>
    <li hlmNavigationMenuItem>
      <a hlmNavigationMenuLink routerLink="/quests" class="nav-link">Quests</a>
    </li>
    <li hlmNavigationMenuItem>
      <a hlmNavigationMenuLink routerLink="/leaderboard" class="nav-link">Leaderboard</a>
    </li>
  </ul>

  <div class="nav-section-right">
    @if (!loginDisplay()) {
      <ul hlmNavigationMenuList>
        <li hlmNavigationMenuItem>
          <button hlmNavigationMenuTrigger variant="ghost" class="login-btn" (click)="login()">
            Login
          </button>
        </li>
      </ul>
    }

    @if (loginDisplay() && profile()) {
      <div class="user-profile-pill">
        <button
          hlmBtn
          variant="ghost"
          class="avatar-trigger"
          [hlmDropdownMenuTrigger]="menu">
          <div class="user-info">
            <span class="user-name">{{ profile()?.firstName }} {{ profile()?.lastName }}</span>
            <span class="user-level">Lvl 8</span>
          </div>

          <hlm-avatar class="user-avatar-hlm">
            <img hlmAvatarImage [ngSrc]="'/'" [alt]="'User avatar'" fill/>
            <span hlmAvatarFallback>{{ profile()?.firstName?.charAt(0) }}</span>
          </hlm-avatar>
        </button>
      </div>

      <ng-template #menu>
        <hlm-dropdown-menu class="w-56">
          <hlm-dropdown-menu-group>
            <button hlmDropdownMenuItem routerLink="/profile">
              <ng-icon hlm name="lucideUser"/>
              <span>Profile</span>
            </button>
            <button hlmDropdownMenuItem routerLink="/settings">
              <ng-icon hlm name="lucideSettings"/>
              <span>Settings</span>
            </button>
          </hlm-dropdown-menu-group>
          <hlm-dropdown-menu-separator/>
          <hlm-dropdown-menu-group>
            <button hlmDropdownMenuItem variant="destructive" (click)="logout()">
              <ng-icon hlm name="lucideLogOut"/>
              <span>Log out</span>
            </button>
          </hlm-dropdown-menu-group>
        </hlm-dropdown-menu>
      </ng-template>
    }
  </div>
</nav>

<main class="main">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe()) {
    <router-outlet></router-outlet>
  }
</main>
