/* Update this in your CSS file */
[hlmNavigationMenuList] {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 1rem;
  z-index: 50;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 95%;
  max-width: 1200px;
}
